<div class="inputForm" contentEditable="true" placeholder="Digita o incolla il testo qui..."></div>
<nav class="floating-logo">
  <h3>de <img src="assets/brokenheart_80_anim_gif.gif" width="35" height="35"> fy</h3>
</nav>
<nav class="floating-menu">
  <button type="button" class="btn btn-default" onclick="cuoreefy()">DeCuorefy</button>
  <button type="button" class="btn btn-default" onclick="decuoreefy()">Cuoreefy</button>
  <button type="button" class="btn btn-default btn-circle">Share</button>
  <button type="button" class="btn btn-default btn-circle">Microphone</button>
  <button type="button" class="btn btn-default btn-circle">Hide</button>
  <button type="button" class="btn btn-default btn-circle">Erease</button>
</nav>
