<nav class="floating-logo">
  <div class="brand">
    <p class="lead"><small>de<img src="assets/brokenheart_80_anim_gif.gif" width="28" height="28">fy
    <span style="color:grey">elimina <s>il libro cuore in ogni</s> testo</span></small></p>
  </div>
</nav>
<nav class="floating-menu">
  <button type="button" class="btn btn-default btn-lg" onclick="cuoreefy()"><img src="assets/ic_no_cuore.png" width="24" height="24"></button>
  <button type="button" class="btn btn-default btn-lg" onclick="decuoreefy()"><img src="assets/ic_cuore.png" width="24" height="24"></button>
  <div class="btn-group dropup">
  <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="assets/ic_more.png" width="24" height="24">
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="#">About</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Stats</a></li>
    <li><a href="#">Hide removed word</a></li>
    <li><a href="#">Change text size</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Share</a></li>
  </ul>
</div>
</nav>
<div class="inputForm" contentEditable="true" placeholder="Digita o incolla il testo qui..." autofocus></div>
