/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  height: 100%;
  background: white;  /* fallback for old browsers */
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.floating-logo {
  font-weight: 300;
  padding: 5;
  z-index: 100;
  position: fixed;
  top: 25px;
  left: 80px;
}

.floating-menu {
  padding: 5;
  z-index: 100;
  position: fixed;
  bottom: 25px;
  right: 80px;
}

.inputForm {
  display: inherit;
  position: absolute;
  left:0; right:0;
  top:0; bottom:0;
  text-decoration: none;
  text-align: left;
  font-weight: 300;
  font-size: 24px;
  line-height: 200%;
  padding: 80px;
  color: black;
  outline: none;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

mark.not-cuore,
mark.cuore {
  color: rgba(0, 0, 0, 0.25);
  text-decoration: line-through;
  background: none;
}
